* {box-sizing: border-box;}

body {
    background: linear-gradient(90deg, #754d8b 0%, #4e5992 100%);
    font-size: 18px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.widget {
    height: 300px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.weatherIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8fa;
    height: 70%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*.weatherIcon:before{*/
/*    display: block;*/
/*    content:"\f002";*/
/*    color: #818b8d;*/
/*    font-family: weathericons;*/
/*    font-size: 110px;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 58%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.weatherData {
    background-color: #2e3336;
    height: 30%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 2.9375em;
    line-height: 2.9375em;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(0, -50%);
}

h2 {
    color: #8f9b9d;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 1.1875em;
    line-height: 1.1875em;
    position: absolute;
    top: 24%;
    left: 27%;
}

h3 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 0.8125em;
    position: absolute;
    bottom: 25%;
    left: 27%;
}

h4 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6875em;
    line-height: 0.6875em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

h5 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8125em;
    line-height: 28px;
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translate(-50%, 0);
}

.date {
    background-color: #4dbde2;
    height: 30%;
    width: 22%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a, .topnav button{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}
.topnav button:disabled{
    cursor: not-allowed;
}

.topnav a:hover, .topnav button:hover {
    background-color: #ddd;
    color: black;
}

.topnav button.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav button, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}